

<div class="home-bg">

    <section class="home">
                <div class="mySlides ">
                  <div class="item">
                      <div class="image">
                          <img src=~/images/home-img-5.png alt="">
                      </div>
                      <div class="content">
                          <span>upto 5% off</span>
                          <h3>latest laptop</h3>
                          <a href="#Producer" class="btn">shop now</a>
                      </div>
                  </div>
                </div>

                <div class="mySlides">
                   <div class="item">
                       <div class="image">
                           <img src=~/images/home-img-2.png alt="">
                       </div>
                       <div class="content">
                           <span>upto 50% off</span>
                           <h3>latest watches</h3>
                           <a href="#Producer" class="btn">shop now</a>
                       </div>
                   </div>
                </div>

                <div class="mySlides">
                    <div class="item">
                        <div class="image">
                            <img src=~/images/home-img-4.png alt="">
                        </div>
                        <div class="content">
                            <span>upto 30% off</span>
                            <h3>latest headsets</h3>
                            <a href="#Producer" class="btn">shop now</a>
                        </div>
                    </div>
                  </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

                <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </section>

</div>



